@use './base/reset';
@use './utils/reduced-motion';
@use './utils/poly-fluid-sizing/index.scss' as *;
@use './shared.scss' as *;

html,
body {
    color: var(--black);
    background-color: var(--white);

    @include body-text;
    @include poly-fluid-sizing('font-size', $font-size-map);
}

.h-100 {
    height: calc(var(--client-h-unit, 1vh) * 100);
}

h1,
.h1 {
    @include h1;
}
