@font-face {
    font-family: Mulish;
    src:
        url('/fonts/Mulish.woff2') format('woff2'),
        url('/fonts/Mulish.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
