// Классический размер шрифта, неизменяемый
$base-font-size: 16px;

// Размеры из figma (Не переименовывать, т.к. используются в функциях)
$figma-width-desktop: 1440px;
$figma-height-desktop: 1024px;
$figma-width-mobile: 375px;
$figma-height-mobile: 667px;

// Ключевые точки для основного шрифта
$font-size-map: (
    $figma-width-mobile: $base-font-size,
    560px: 12px,
    850px: 14px,
    $figma-width-desktop: $base-font-size,
    1920px: 21px,
);
