// Классический размер шрифта, неизменяемый
$base-font-size: 16;

// Размеры из figma (Не переименовывать, т.к. используются в функциях)
$figma-width-desktop: 1440;
$figma-height-desktop: 1024;
$figma-width-mobile: 375;
$figma-height-mobile: 667;

// Ключевые точки для основного шрифта
$font-size-map: (
    $figma-width-mobile * 1px: $base-font-size * 1px,
    560px: 12px,
    850px: 14px,
    $figma-width-desktop * 1px: $base-font-size * 1px,
    1920px: 21px
);
