@function em($px, $inherited-px) {
    @return #{math.div($px, $inherited-px)}em;
}

@function percent($px, $base: 1) {
    @return 100% * math.div($px, $base);
}

@function rem($px) {
    @return math.div($px, $base-font-size) * 1rem;
}

@function vw($px, $mobile: false) {
    $base: if($mobile == true, $figma-width-mobile, $figma-height-desktop);

    @return $px * math.div(100, $base) * 1vw;
}

@function vh($px, $mobile: false) {
    $base: if($mobile == true, $figma-height-mobile, $figma-height-desktop);

    @return $px * math.div(100, $base) * 1vh;
}

@function vw-vh-contain($px, $mobile: false) {
    $vw: vw($px, $mobile);
    $vh: vh($px, $mobile);

    // very cool kostyl coz sass is case-sensitive, but css isn't
    @return Min(#{$vw}, #{$vh});
}

@function vw-vh-cover($px, $mobile: false) {
    $vw: vw($px, $mobile);
    $vh: vh($px, $mobile);

    // very cool kostyl coz sass is case-sensitive, but css isn't
    @return Max(#{$vw}, #{$vh});
}
