.example {
    $fs: 100;

    width: vw(1440);
    background-color: rgb(var(--black-rgb), 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: rem(100);
    font-size: vw($fs);
    padding-top: rem(100);

    &__title {
        font-size: 1em;
    }

    &__rects {
        display: flex;
        gap: em(20, $fs);

        @include media-portrait-layout {
            flex-direction: column;
        }
    }

    &__rect {
        width: em(500, $fs);
        height: em(500, $fs);
        background-color: var(--white);
        transition: transform $default-transition;

        @media (hover: hover) {
            &:hover {
                transform: translateY(-5%);
            }
        }
    }
}
