doctype html
html(lang=meta.lang)
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        block head-title
            title #{ meta.title }
        block head-description
            meta(name='description', content=meta.description)
        link(rel='shortcut icon', href=meta.favicon, type='image/x-icon')
        block head
    body
        main
            block main
